# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.env

# Django
*.sqlite3
db.sqlite3
media/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node (frontend)
node_modules/
dist/
build/
